<form action="/admin/posts/create" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Enter title"
    />
  </div>

  <div class="form-group">
    <label for="status">Status</label>
    <select class="form-control" id="status" name="status">
      <option>Public</option>
      <option>Private</option>
      <option>Draft</option>
    </select>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      name="allowComments"
      id="allowComments"
      value="ture"
      checked 
    />
    <label class="form-check-label" for="allowComments">
      Allow Comments
    </label>
  </div>

  <div class="form-group">
    <label for="body">Body</label>
    <textarea
      class="form-control"
      id="body"
      rows="3"
      placeholder="Enter Description"
      name="body"
    ></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>