<form action="/admin/posts/edit" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Enter title"
      value="{{title}}"
    />
  </div>

  <div class="form-group">
    <label for="status">Status</label>
    <select class="form-control" id="status" name="status" >
      {{#select status}}
        <option value="Public">Public</option>
        <option value="Private">Private</option>
        <option value="Draft">Draft</option>
      {{/select}}
    </select>
  </div>


  <div class="form-check">
    <input
      class="form-check-input"
      type="checkbox"
      name="allowComments"
      id="allowComments"
      {{#if allowComments}} checked {{/if}}
    />
    <label class="form-check-label" for="allowComments">
      Allow Comments
    </label>
  </div>

  <div class="form-group">
    <label for="body">Body</label>
    <textarea
      class="form-control"
      id="body"
      rows="3"
      placeholder="Enter Description"
      name="body"
    >{{body}}</textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>